<!doctype html>
<html lang="en">
  <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Todo App</title>
        <link rel="stylesheet" href= "./style.css" type="text/css">
    </head>
    <body>
        <div id="main">
            <div class="header">
                <h3 class="hero">Today</h3>
                <p>
                    You have <%= tasks.length %> tasks to complete.
                </p>
            </div>
            <div id="form" class="d-grid gap-2">
                <button class="btn btn-primary">New Tasks</button>
            </div>
            <div class="list">
                <% tasks.forEach((item) => { %>
                    <div>
                       <%= item.task %>
                    </div>
              <% }); %>
            </div>
            
        </div>
    </body>
        
</html>
