body {
    background-color: #e8e8e8;
}

#main {
    width: 480px;
    margin: 20px auto;
}

.header {
    margin-bottom: 20px;
}

.header > h3 {
    font-size: 2.2rem;
}

#form {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 4px;
    background-color: #ffffff;
}

.highlight {
    font-weight: 700;
    color: #c842f5;
}

.card {
    margin-bottom: 5px;
}

.card-body {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.buttons {
    display: flex;
    margin-left: auto;
}

.action {
    border: 0;
    background-color: transparent;
    color: #666666;
    padding: 1px 6px;
}

.action:hover {
    color: #c842f5;
}