/*Background Colour For Website*/
#body {
    background-color: #e8e8e8;
}
/*Size of Canvas*/
#main {
    width: 480px;
    margin: 20px auto;
}
/*Today Location*/
.header {
    margin-bottom: 20px;
}
/*Today Display*/
.header > h3 {
    font-size: 2.2rem;
}
/*Location Of New Task Card*/
#form {
    margin-bottom: 20px;
}
/*Tasks Text Body Display*/
.notask {
    color: #c842f5;
    font-weight: bold;
}
/*Card Display*/
#tasks {
    background: white;
    box-shadow: none;
    border: none;
    margin-bottom: 5px;
}
/*Tasks Text Card Location*/
.par {
    margin-top: 17.5px;
    margin-left: 15px;
}
/*Button Location*/
#actton {
    margin-left: 360px;
    margin-top: -22.5px;
}  
/*Check Button Display*/
#check {
    outline: none;
    border: none;
    color: gray;
    background-color: white;
    border-radius: 0.25rem;
    padding: 0.25rem 0.25rem;
}
/*Check Button Hisplay*/ 
#check:hover {
    color: #c842f5;
}
/*Edit Button Display*/
#edit {
    outline: none;
    border: none;
    color: gray;
    background-color: white;
    border-radius: 0.25rem;
    padding: 0.25rem 0.25rem;
}
/*Edit Button Hisplay*/
#edit:hover {
    color: #c842f5;
}
/*Bin Button Display*/
#bin {
    outline: none;
    border: none;
    color: gray;
    background-color: white;
    border-radius: 0.25rem;
    padding: 0.25rem 0.25rem;
}
/*Bin Button Hisplay*/
#bin:hover {
    color: #c842f5;
}